/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Montserrat", serif !default;

// colours
$colour-pink: #E03584;
$colour-green: #D9E035;
$colour-purple: #7634BF;

$link-color: $colour-green !default;

// headings
$presentation-heading-font: "Rubik Mono One", !default;
$presentation-heading-color: $colour-pink !default;